
out/production/JavaCollections/.idea/$PROJECT_FILE$
out/production/JavaCollections/.idea/JavaCollections.iml
out/production/JavaCollections/.idea/markdown.xml
*.xml
.idea/sonarlint/issuestore/index.pb
.idea/JavaCollections.iml
.idea/$PROJECT_FILE$
out/production/JavaCollections/.idea/sonarlint/issuestore/index.pb
